body {
    background: #30D5C8 ;
    font-family:Arial, Helvetica, sans-serif;

}

.assignment{
 display:flex;  
 padding:10px; 
 background: #D3D3D3;
 margin:10px;
 border-radius: 8px;
}

.assignment img {
    width:200px;
    margin: 10px;
    border: 2px solid   #00008b;

}

.assignment img:hover {
    border: 2px dashed   #8F00FF;
}

h1{
    color:  #ff00ff9c;
    text-align: center;
}

h1:hover{
    color:  #FF0000;
}

a {
     /* This removes the underline that appears with hyper links
        (This is the anchor tag section)*/
    text-decoration: none;
    color:  
    #064e40a9;
}

a:hover{
    color: #8F00FF;
}