/* Color Scheme:
/* Structure */
/* https://maketintsandshades.com/#7790A6,B8CAD9,43736A,2D4010,567319 */
body {
	background: #678130;
	font-family: Verdana, Arial, sans-sarif;
}


#content {
	background: #ecf1f0;
	margin: auto;
	border-radius: 10px;
    width: 80%;
    margin: 15px auto;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	padding-top: 20px;
}

#main-header h1 {
	text-align: center;
}

img {
	max-width: 100%;
	margin: auto;
}

#assignments-header {
	text-align: center;
}

/* Navigation */
#main-nav section {
	background: #cddae4;
	margin: 10px;
	text-align: center;
}

#main-nav a {
	text-decoration: none;
}

#main-nav p {
	padding-left:  20px; 
	padding-right: 20px; 
	padding-bottom: 10px; 
	text-align: left;
}

/* Typography */
#assignments-header {
	color: #567319;
}

#title-header {
	color: #3c4853;
}

#name {
	color: #3c4853;
}

#assignments-header {
	color: #567319;
}

.assignment-header {
	color: #365c55; 
}

#main-nav p {
	color: #365c55; 
}

/* Apply to 600px and larger */
@media only screen and (min-width:600px) {
	.columns {
        display: flex;
	}     

	.one {
        flex:1;
	}

	/* I got this wrapper stuff to change the order of 
	my name from: https://stackoverflow.com/questions/42199911/how-can-i-reorder-html-using-media-queries */
	.wrapper {
		display: flex;
		flex-direction: column;	
	}

	#title-header {
		order: 1;
	}
}