/* Color Scheme:
/* Structure */
/* https://maketintsandshades.com/#7790A6,B8CAD9,43736A,2D4010,567319 */
body {
	background: #678130;
	font-family: Verdana, Arial, sans-sarif;
}

#main-div {
	/* centers the div */
	background: #ecf1f0;
	margin: auto;
	border-radius: 10px;
    width: 50%;
    margin: 15px auto;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	padding-top: 20px;
}

p {
	color: #365c55; 
}

#title-header {
	color: #3c4853;
	text-align: center;
}

#assignments-header {
	color: #567319;
}

#main-nav li {
	/* removes bullets */
	list-style-type: none;
	padding: 4px;
}

#main-nav a {
	/* no link underline */
	text-decoration: none;
	background: #7790a6; 
	color: #FFFFFF; 
}

#main-nav a:hover {
	color: #7790a6;
	background: black;
}
