/* Dylan Johnson Assignment 8 for CSCE 242 */
:root {
	/* Colors */
	--left-column-color: #4b7051;
	--background: #e8dad9;
	--column-color: #c6a39f;
	--colorless: #fff;
	--last-color: #746d58;
	--slider-color: #a7887d;
	--black: black;
	--white: white;
	--red: red;
	--star-color: yellow;
}

/* Structure */
body {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	line-height: 1.4;
	font-family: Verdana, Arial, sans-sarif;
	background-color: var(--background);
}

img {
	max-width: 100%;
	max-height: 100%;
	width: 150px;
	height: 300px;
	border: solid 2px var(--left-column-color);
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
	margin-bottom: 5px;
}

#main-footer p {
	width: 100%;
	text-align: center;
	color: var(--left-column-color);
}

.one {
	background-color: var(--column-color);
	position: relative;
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
	border: solid 2px var(--left-column-color);
	border-radius: 1px;
}

#main-section div {
	border: solid 1px var(--left-column-color);
	padding-top: 10px;
	padding-bottom: 10px;
}

#top p, #top h3 {
	margin: 0px;
	width: 100%;
	text-align: center;
}

#bottom, #bottom a {
	color: var(--left-column-color);
}

#bottom {
	padding-left: 10px;
}

h1, h2, h3 {
	width: fit-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.desktop {
	display: none;
}

/* Typegraphy */
h2 {
	color: var(--last-color);
}

h3 {
	font-size: 18px;
	color: var(--left-column-color);
}

h1, p {
	color: var(--left-column-color);
}

.hide {
	display: none;
}

.columns-all {
	display: flex;
}

.columns-all p {
	margin-left: 5px;
	margin-right: 5px;
}

.new-row-wrap {
	width: 100%;
	border: none !important;
}

.center-columns-btw {
        justify-content: space-between;
        align-items: center;
}

.desktop {
	display: none;
}

/* Apply to 600px and larger */
@media only screen and (min-width:600px) {
	.columns {
		display: flex;
	}

	.wrap {
		flex-wrap: wrap;
	}

	.desktop-inline {
		display: inline-block;
	}

	.desktop {
		display: unset;
	}

	.mobile {
		display: none;
	}

}
